/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/*************** header starts **************/
#main-header img {
  width: 100%;
  height: 100%;
}
#main-header .port-item {
  width: 30%;
}
#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.bg-black {
  color: white;
  background-color: black;
}
/* on big screen we want some extra padding so use media query (i.e for bringing my phto and the home icons at same line horizontally) */
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
/*************** header ends **************/
/************** home **************/
.html {
  width: 100%;
}
.css {
  width: 95%;
}
.js {
  width: 90%;
}
.reactjs {
  width: 90%;
}
.expressjs {
  width: 75%;
}
.nodejs {
  width: 80%;
}
.mangodb {
  width: 60%;
}
